@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.blockMainHeader {
  width: 100%;
  padding: 1rem 1.2rem 5rem 1.2rem;
  position: fixed;
  top: 0;
  background: linear-gradient(0deg, #ffffff00 0%, #ffffff 50%);
  z-index: 100;
}

.logo {
  margin: auto;
  width: 8rem;
  position: relative;
  margin-bottom: -2.2rem;
  z-index: 101;
}

.logo img {
  width: 100%;
  height: auto;
}

.logo h1 {
  font-size: 0;
}

.blockMainHeader nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blockMainHeader nav ul li {
  list-style: none;
}

.blockMainHeader nav ul li img {
  width: 100%;
  height: auto;
}