.searchHeader {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

.searchlogo {
  width: 8rem;
  position: relative;
  z-index: 101;
}

.searchlogo img {
  width: 100%;
  height: auto;
}

.searchlogo h1 {
  font-size: 0;
}