.webtoonHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 301;
  top: 0;
  background-color: var(--bp-white);
  border-bottom: 0.01rem solid var(--bp-line-gray);
}

.backBtn {
  display: flex;
  align-items: center;
}

.likeBtn {
  display: flex;
  align-items: center;
}