.reader_author_box {
    width: 3rem;
    position: relative;
    left: 1rem;
}

.reader{
    padding: 0.2rem 0;
    width: fit-content;
}

.reader p {
    color : var(--bp-white);
    font-family: var(--bp-font);
    border-radius: 3rem;
    background-color: var(--bp-primary);
    width: 3rem;
    text-align: center;
}

.author {
    padding: 0.2rem 0;
    width: fit-content;
}

.author p {
    color : var(--bp-white);
    font-family: var(--bp-font);
    border-radius: 3rem;
    background-color: var(--bp-secondary);
    width: 3rem;
    text-align: center;
}