.usernicknameImgBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.usernicknameImg {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--bp-gray);
}

.userImage {
  margin: 1rem 0;
  height: 4rem;
  display: flex;
  flex-direction: column;
}

img.userImage1 {
  display: flex;
}

.usernicknameImg .usernickname {
  padding: 0.5rem 2rem;
  font-family: var(--bp-font);
  font-size: 1.5rem;
  font-weight: 700;
  border:none;
  text-align: center;
}

.usernicknameImg p.usernicknamechange {
  margin: 0.5rem 0;
  color: var(--bp-font-gray);
  font-size: 0.8rem;
}

.uploadBtn {
  color: white;
  padding: 8px 16px;
  border: none;
  font-size: 0px;
  width: 20px;
}

.uploadBtn input{
  width: 0;
}
.uploadBtn img.userImage2 {
  z-index: 1;
  position: relative;
  left: 2.3rem;
  bottom: 3.5rem;
}

.userProfileImagePreview{
  border-radius: 5rem;
}