.usernicknameImgBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.usernicknameImg {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--bp-gray);
}

.userImage {
  margin: 1rem 0;
  height: 4rem;
}

img.userImage1 {
  display: flex;
}

img.userImage2 {
  z-index: 1;
  position: relative;
  left: 3rem;
  bottom: 1.1rem;
}

.usernicknameImg .usernickname {
  padding: 0.5rem 2rem;
  font-family: var(--bp-font);
  font-size: 1.5rem;
  font-weight: 700;
}

.usernicknameImg p.usernicknamechange {
  margin: 0.5rem 0;
  color: var(--bp-font-gray);
  font-size: 0.8rem;
}
