.GenreTop {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  white-space: nowrap;
}

.GenreTop::-webkit-scrollbar {
  display: none;
}

.Genre p {
  width: 100%;
  padding: 0 1rem;
  font-size: large;
  font-weight: 900;
  font-family: var(--bp-font);
}

.Genre p.active {
  transition: 1s;
  color: var(--bp-primary);
}
