.webtoonBox {
  display: flex;
  width: 100%;
}

.ImgWrap {
  width: 40%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.contentWrap {
  margin: 0;
  width: 60%;
  align-self: center;
}

.contentWrap .option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.3rem 0;
}

.contentWrap p.title {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: 900;
}

.contentWrap .author {
  margin-bottom: 0.4rem;
  color: var(--bp-font-gray);
  font-size: 0.7rem;
  font-weight: 500;
}

.contentWrap .option .views {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1rem;
}

.contentWrap .option .views p.viewstxt {
  color: var(--bp-primary);
  font-size: 0.7rem;
  font-weight: 400;
  margin-left: 0.3rem;
}

.contentWrap .option .likes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1rem;
}

.contentWrap .option .likes p.likestxt {
  color: var(--bp-secondary);
  font-size: 0.7rem;
  font-weight: 400;
  margin-left: 0.3rem;
}

.contentWrap p.option2 {
  width: fit-content;
  padding: 0.2rem 0.4rem;
  font-size: 0.5rem;
  font-weight: 400;
  background: var(--bp-secondary-glow);
  color: var(--bp-white);
  border-radius: 1.5rem;
  margin-bottom: 0.6rem;
  height: 1rem;
}

.contentWrap p.viewmore {
  color: var(--bp-secondary);
  font-size: 0.8rem;
  font-weight: 600;
}

.HistoryCategory {
  width: 100%;
}

.HistoryCategory nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HistoryCategory nav ul li {
  list-style: none;
  width: 50%;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.HistoryCategory nav ul li.active {
  font-weight: 600;
  color: var(--bp-blue);
  border-bottom: 0.2rem solid var(--bp-blue);
}

.chargeBlockBox {
  display: flex;
}

.chargeBlockBox p {
  padding-right: 0.4rem;
}

.chargeBlockBox p.chargeBoxContent {
  color: var(--bp-blue);
}

.Clickactive {
  margin: 1rem 0.5rem;
  border-bottom: 0.1rem solid var(--bp-secondary-gray);
  display: block;
  width: 100%;
}

.NoClickactive {
  margin: 1rem 0.5rem;
  border-bottom: 0.1rem solid var(--bp-secondary-gray);
  display: none;
  width: 100%;
}

.subhistorybox {
  padding-bottom: 1rem;
}
