.previewSection {
  width: 100%;
  border-top: 1px solid var(--bp-line-gray);
  border-bottom: 1px solid var(--bp-line-gray);
}

.previewDiv {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.previewTxtDiv {
  width: 60%;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.previewTxtDiv p:first-child {
  color: var(--bp-secondary);
  font-size: 1rem;
}

.imgBox {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.imgDiv {
  width: 100%;
  display: flex;
}

.imgDiv img:nth-child(n+2) {
  position: relative;
  right: 10px;
}

.imgDiv img:nth-child(n+3) {
  position: relative;
  right: 20px;
}

.imgDiv img:nth-child(n+4) {
  position: relative;
  right: 30px;
}

.imgDiv img:nth-child(n+5) {
  position: relative;
  right: 40px;
}

.imgBox .imgDiv img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.downArrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.downArrow img {
  transform: rotate(270deg);
}

.upArrow img {
  transform: rotate(90deg);
}

.episodeWrapSection {
  padding: 0 1.5rem;
}

.bgGray {
  background-color: var(--bp-gray);
}