.navSection {
  padding-bottom: 1rem;
}

.navSection nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.navSection nav ul li {
  margin: 0 1rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--bp-font-gray);
}