.navSection {
  padding-bottom: 1rem;
  border-bottom: 0.02rem solid var(--bp-line-gray);
}

.navSection nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.navSection nav ul li {
  margin: 0 1rem;
  font-size: 0.8rem;
  color: var(--bp-font-gray);
}

.navSection nav ul li.active {
  color: var(--bp-black);
  font-weight: 700;
}