.categoryWrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.57rem;
  transition: all 0.3s ease-in-out;
}

/* .categoryRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
} */

.categoryRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 2rem 0;
}

.categoryRow h2 {
  cursor: pointer;
  margin: 0 auto;
  width: 6rem;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: var(--bp-primary);
  border-radius: 3rem;
  color: var(--bp-white);
  font-size: 0.9rem;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.innerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryRow h2.active {
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  opacity: 1;
}

.categoryRow:last-child h2.active {
  /* margin-bottom: -5rem; */
}
/* .categoryRow:first-child .innerContainer {
  margin-top: -7rem;
} */
.categoryRow:last-child h2.active {
  margin-top: -6rem;
}
.categoryRow:last-child .innerContainer.active {
  margin-top: -7rem;
}

/* .categoryRow .item {
  cursor: pointer;
  width: content-fit;
  padding: 0.5rem 0.7rem;
  background-color: var(--bp-primary);
  border-radius: 3rem;
  color: var(--bp-white);
  font-size: 1.1rem;
  margin: 0.2rem 0.2rem;
} */

.categoryRow .item {
  width: content-fit;
  padding: 0.5rem 0.7rem;
  background-color: var(--bp-primary);
  border-radius: 3rem;
  color: var(--bp-white);
  font-size: 1.1rem;
  margin: 0.2rem 0.2rem;
}

.innerContainer {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.categoryRow .innerContainer.active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.categoryRow.blue h2,
.categoryRow.blue .item {
  background-color: var(--bp-blue);
  transition: all 0.3s ease-in-out;
}
