.closeBtn {
  display: flex;
  justify-content: right;
  padding: 0.5rem 0 1rem 0;
  transition: 0.5s;
}

.user {
  width: 100%;
  display: flex;
  align-items: center;
}

.user p {
  font-size: 0.9rem;
  padding: 0 0 0 1rem;
}

.user p:first-child {
  font-weight: 700;
  font-size: 1.1rem;
}

.userSectionTxt {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.guestSectionTxt {
  width: 70%;
}

.user .guestSectionTxt p {
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0 0 0 1rem;
}

.btnSection {
  margin: 1rem 0 1rem 0;
  display: flex;
  font-weight: 700;
  font-size: 0.9rem;
}

.mypageBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 0.3rem 1.7rem;
  border-radius: 2rem;
  background-color: var(--bp-secondary);
  color: var(--bp-white);
  z-index: 1;
}

.logoutBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 0.3rem 1.7rem 0.3rem 2.6rem;
  margin-left: -1.9rem;
  border-radius: 2rem;
  border: 0.15rem solid var(--bp-secondary);
  color: var(--bp-secondary);
}

.menuContents {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.menuContents p {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0 1rem 2.5rem;
}

.menuList {
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  line-height: 3rem;
  padding-inline-start: 1.5em;
}

.menuList li::marker {
  color: var(--bp-blue);
}

.menuList li {
  font-size: 0.9rem;
  width: fit-content;
  cursor: pointer;
}

.logoImg {
  position: fixed;
  bottom: 1.5rem;
  left: 2rem;
}

.userProfileDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.userProfileImgDiv {
  position: relative;
  display: flex;
}

.selectedUserSkin {
  position: absolute;
  display: flex;
}

.userProfileImgDiv img {
  border-radius: 50%;
}