.webtoonBox {
  display: flex;
  width: 100%;
}

.ImgWrap {
  width: 40%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contentWrap {
  width: 60%;
  align-self: center;
  margin-left: 0.5rem;
  cursor: pointer;
}

.contentWrap .option {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
}

.contentWrap p.title {
  margin-bottom: 0.4rem;
  font-size: 1rem;
  font-weight: 900;
  word-break: keep-all;
}

.creatorBox {
  display: flex;
}

.contentWrap .creator {
  margin-bottom: 0.4rem;
  margin-right: 1rem;
  color: var(--bp-font-gray);
  font-size: 0.7rem;
  font-weight: 500;
}

.contentWrap .illustrator {
  margin-bottom: 0.4rem;
  margin-right: 1rem;
  color: var(--bp-font-gray);
  font-size: 0.7rem;
  font-weight: 500;
}

.contentWrap .option .views {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1rem;
}

.contentWrap .option .views p.viewstxt {
  color: var(--bp-primary);
  font-size: 0.7rem;
  font-weight: 400;
  margin-left: 0.3rem;
}

.contentWrap .option .likes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1rem;
}

.contentWrap .option .likes p.likestxt {
  color: var(--bp-secondary);
  font-size: 0.7rem;
  font-weight: 400;
  margin-left: 0.3rem;
}

.info {
  display: flex;
}

.infoTxt {
  color: var(--bp-font-gray);
  font-size: 0.7rem;
}

.genre {
  display: flex;
  width: fit-content;
  padding: 0.2rem 0.4rem;
  font-size: 0.5rem;
  font-weight: 400;
  background: var(--bp-secondary-glow);
  color: var(--bp-white);
  border-radius: 1.5rem;
  margin-bottom: 0.3rem;
}

.genre p:nth-child(2)::before {
  content: '/';
  padding: 0 0.3rem;
}

.heartBtnWrap {
  display: flex;
  align-items: center;
}

.heartBtn {
  cursor: pointer;
}