.HistoryCategory {
  width: 100%;
}

.HistoryCategory nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HistoryCategory nav ul li {
  list-style: none;
  width: 50%;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.HistoryCategory nav ul li.active {
  font-weight: 600;
  color: var(--bp-blue);
  border-bottom: 0.2rem solid var(--bp-blue);
}

.chargeBlockBox {
  display: flex;
  margin: 0.2rem 0;
}

.chargeBlockBox p {
  padding-right: 0.4rem;
}

.chargeBlockBox p.chargeBoxContent {
  color: var(--bp-blue);
}

.Clickactive {
  margin: 1rem 0.5rem;
  display: block;
}

.NoClickactive {
  margin: 1rem 0.5rem;
  display: none;
}

.subhistorybox {
  width: 80%;
}

.UseBox {
  width: 100%;
  border-bottom: 0.1rem solid var(--bp-gray);
  padding: 0.8rem 0;
}

.chargeBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--bp-gray);
  padding: 0.8rem 0;
}

.refundBox{
  width: 20%;
  height: 3rem;
}

.refundBox button {
  background-color: var(--bp-blue);
  border: none;
  color : var(--bp-white);
  border-radius: 1rem;
  width: 100%;
  height: 60%;
  font-weight: 700;
  padding: 0.2rem 0.2rem;
}

.refund button {
  background-color: var(--bp-gray-2);
  border: none;
  color : var(--bp-Black);
  border-radius: 1rem;
  width: 100%;
  font-weight: 700;
  padding: 0.2rem 0.2rem;
}

.sorrybox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
}

.sorrybox p{
 margin: 1rem 0;
 font-size: 1.5rem;
 font-weight: 600;
}

.chargedays {
  font-size: 1rem;
  font-weight: 600;
}