.AuthorNicknameAgreementBox {
  width: 100%;
  height: 10rem;
  background-color: var(--bp-gray);
  text-align: center;
  border-radius: 1rem;
  margin: 1rem 0;
}

.AuthorNicknameAgreementBox p {
  padding: 1rem;
}

.AuthorButton {
  margin-top: 10rem;
  display: flex;
  justify-content: flex-end;
}

.AuthorSignupButtonBox button.AuthorSignupButton {
  width: 100%;
  height: 2rem;
  border: none;
  background-color: var(--bp-blue);
  color: var(--bp-white);
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0.4rem;
}

.AuthorSignupButtonBox {
  width: 20%;
}
