.box {
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formBox {
  width: 100%;
  border: 0.2rem solid var(--bp-line-gray);
  border-radius: 1rem;
  background-color: var(--bp-white);
  padding: 2rem 4rem;
}

.closeBtn {
  position: absolute;
  top: -10%;
  left: 85%;
  width: 20%;
  height: 20%;
  background-color: var(--bp-primary);
  border-radius: 50%;
  box-shadow: 0px 5px 5px 2px #69D2FF;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(1);
}

.closeBtn img {
  width: 30%;
  height: 30%;
  filter: brightness(0) invert(1);
}

.rating {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 1rem 1rem;
  width: 100%;
  height: auto;
  border: none;
}

.description {
  text-align: center;
  margin: 1rem 0;
  color: var(--bp-font-gray);
}

.confirmBox {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.confirm {
  font-size: 1rem;
  font-weight: 700;
  color: var(--bp-white);
  background-color: var(--bp-blue);
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
}