@keyframes banner {
  0% {
    opacity: 0;
    transform: translateY(1rem);
    filter: blur(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes banner-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.gamewrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
}

.gameBox {
  display: flex;
  justify-content: space-between;
  width: 22.5rem;
  height: 6rem;
  background-color: var(--bp-blue);
  border-radius: 0.5rem;
  margin-top: 7rem;
  margin-right: 1rem;
}

.gameBox img {
  position: relative;
  bottom: 4.65rem;
  border-radius: 0.5rem 0 0 0.5rem;
  animation: banner 0.5s ease-in-out;
}

.gameText {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.gameBox p:first-child {
  color: var(--bp-white);
  font-size: 1.3rem;
  padding: 1rem 0 0.4rem 0;
}

.gameBox p:last-child {
  font-size: 0.7rem;
  word-break: keep-all;
  width: 6rem;
}
