.WebtoonInfoWrap{
    margin: 3rem 0;
}

.InfoBox{
    display: flex;
    width: 100%;
    height: 2rem;
    margin: 2rem 0;
}

.InfoBox p{
    width: 25%;
    text-align: center;
    align-self: center;
}

.InfoBox input{
    width: 70%;
    background-color: var(--bp-gray);
    border-radius: 1rem;
    border: none;
    padding-left: 1rem;
}

.InfoBox p.author{
    width: 70%;
    background-color: var(--bp-gray);
    border-radius: 1rem;
    border: none;
    padding-left: 1rem;
}

.InfoillustratorBox {
    display: flex;
    width: 100%;
    height: 2rem;
    margin: 2rem 0;
}

.InfoillustratorBox p{
    width: 35%;
    text-align: center;
    align-self: center;
}

.InfoillustratorBox input{
    width: 60%;
    background-color: var(--bp-gray);
    border-radius: 1rem;
    border: none;
    padding-left: 1rem;
}

.submit {
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    text-align: center;
}

.submit button{
    width: 50%;
    height: 2rem;
    border: none;
    background-color: var(--bp-blue);
    color: var(--bp-white);
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.4rem;
  }