.commentSection {
  padding: 1rem 0;
}

.pinTxt {
  color: var(--bp-font-gray);
  font-size: 0.7rem;
  padding-bottom: 0.3rem;
}

.topSection {
  display: flex;
  justify-content: space-between;
}

.topIcon {
  display: flex;
}

.profile {
  display: flex;
  align-items: center;
}

.userProfileDiv {
  display: flex;
  justify-content: center;
}

.userProfileImgDiv {
  position: relative;
  display: flex;
}

.selectedUserSkin {
  position: absolute;
}

.userProfileImgDiv img {
  border-radius: 50%;
}

.date {
  color: var(--bp-secondary);
}

.profile img {
  margin-right: 0.5rem;
}

.profileTxt p {
  padding: 0.1rem 0;
  font-size: 0.9rem;
}

.topIcon img {
  margin: 0 0.5rem;
}

.commentTxt {
  padding: 1rem 0 2rem 0;
  font-size: 0.9rem;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomSection p {
  font-size: 0.9rem;
  color: var(--bp-font-gray);
  cursor: pointer;
}

.bottomIcon {
  display: flex;
}

.bottomIcon div {
  display: flex;
  align-items: center;
}

.bottomIcon div:not(:last-of-type):after {
  content: "|";
  padding: 0 0.7rem;
}

.emotion img {
  margin-right: 0.4rem;
}

.replySection {
  background-color: var(--bp-gray);
  padding: 0 1.5rem 0.1rem 1.5rem;
  height: fit-content;
}

.replyCommentSection {
  margin: 0 0 1rem 0;
}

p.likeCount {
  color: var(--bp-primary);
}

p.disLikeCount {
  color: var(--bp-secondary);
}