.MyBlockbg {
  width: 90%;
  height: 8rem;
  background-color: var(--bp-blue);
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  flex-flow: column;
  border-radius: 1rem;
  margin: 0 1.3rem;
}

.MyBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0;
}

.MyBlock p{
  font-size: 1rem;
  color: var(--bp-white);
  font-weight: 500;
  text-align: start;
  width: 90%;
  padding: 0 1rem;
}

.MyBuyBlock{
  padding: 0.5rem 0;
  width: 100%;
}

.MyBuyBlock p{
  width: 100%;
  font-size: 1rem;
  color: var(--bp-white);
  font-weight: 500;
  text-align: start;
}

.MyPointBlock{
  padding: 0.5rem 0;
  width: 100%;
}

.MyPointBlock p{
  width: 100%;
  font-size: 1rem;
  color: var(--bp-white);
  font-weight: 500;
  text-align: start;
}