.wrap {
  width: 100vw;
  height: 100vh;
  padding-top: 200px;
  background-color: white;
}

.contents {
  width: 100%;
  padding: 16px 24px 0;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.rouletteOuter{
  position: relative;
  margin-top: 38;
  width: 95%;
  max-width: 327;
  min-width: 270;
  border-radius: 50%;
  background-color: #EAF2FA;
  box-shadow: `0px 12px 20px rgba(0 0 0 0.25)`;
  aspect-ratio: 1/1;
}
.roulette {
  position: absolute;
  overflow: hidden;
  top: 3%;
  left: 3%;
  right: 3%;
  bottom: 3%;
  border-radius: 50%;
  border: 4px solid #B1C8DE;
  transform-origin: center;
  transition-property: transform;
  transition-duration: 4s;
  transition-timing-function: ease-in-out;
}
.roulettePin {
  position: absolute;
  top: -16;
  left: 50%;
  margin-left: -15px;
}
.item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 10px;
}

/* .item:nth-child(1){
  background: conic-gradient(from 337.5deg #E7EFF3 45deg #ffffff 45deg 90deg #E7EFF3 90deg 135deg #ffffff 135deg 180deg #E7EFF3 180deg 225deg #ffffff 225deg 270deg #E7EFF3 270deg 315deg #ffffff 315deg);
} */
.line {
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 50%;
  width: 2px;
  margin-left: -2px;
  background: #B1C8DE;
  transform-origin: bottom;
}
.brandName {
  font-weight: 400;
  font-size: 8px;
  line-height: 9px;
  color: #6B778C;
}
.prizeName {
  padding-top: 3;
  padding-bottom: 8;
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
  color: #1A1A1A;
}
.prizeImg {
  width: 45;
  height: 45;
  margin: `5px auto`;
}
.prizeImgUrl {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rouletteOuterBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 50px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.rouletteBtn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #0080F1;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.on1 {
  animation: ani1 4s ease-in-out forwards;
}

.on2 {
  animation: ani2 4s ease-in-out forwards;
}

.on3 {
  animation: ani3 4s ease-in-out forwards;
}

.on4 {
  animation: ani4 4s ease-in-out forwards;
}

.on5 {
  animation: ani5 4s ease-in-out forwards;
}

.on6 {
  animation: ani6 4s ease-in-out forwards;
}

.on7 {
  animation: ani7 4s ease-in-out forwards;
}

.on8 {
  animation: ani8 4s ease-in-out forwards;
}


@keyframes ani1 {
  from {
    transform: rotate(0deg) 
  }
  to {
    transform: rotate(calc(4 * 360deg + 0deg))
  }
}

@keyframes ani2 {
  from {
    transform: rotate(0deg) 
  }
  to {
    transform: rotate(calc(4 * 360deg - 45deg))
  }
}

@keyframes ani3 {
  from {
    transform: rotate(0deg) 
  }
  to {
    transform: rotate(calc(4 * 360deg - 90deg))
  }
}

@keyframes ani4 {
  from {
    transform: rotate(0deg) 
  }
  to {
    transform: rotate(calc(4 * 360deg - 135deg))
  }
}

@keyframes ani5 {
  from {
    transform: rotate(0deg) 
  }
  to {
    transform: rotate(calc(4 * 360deg - 180deg))
  }
}

@keyframes ani6 {
  from {
    transform: rotate(0deg) 
  }
  to {
    transform: rotate(calc(4 * 360deg - 225deg))
  }
}

@keyframes ani7 {
  from {
    transform: rotate(0deg) 
  }
  to {
    transform: rotate(calc(4 * 360deg + 270deg))
  }
}

@keyframes ani8 {
  from {
    transform: rotate(0deg) 
  }
  to {
    transform: rotate(calc(4 * 360deg + 315deg))
  }
}


@media {
  .rouletteOuter {
    aspect-ratio: 1/1;
  }
}
@media (max-width:400px) {
  .rouletteOuter {
    width: 300;
  }
  .prizeName {
    padding-bottom: 3;
  }
  .prizeImg {
    width: 40;
    height: 40;
  }
  .rouletteOuterBtn {
    width: 80;
    height: 80;
  }
  .rouletteBtn {
    width: 66;
    height: 66;
    font-size: 15px;
  }
}