@import url("./common/font.css");

:root {
  --bp-primary: #a6c9ff;
  --bp-secondary: #9a2aed;
  --bp-black: #171f24;
  --bp-white: #ffffff;
  --bp-blue: #69d2ff;
  --bp-gray: #f3f3f3;
  --bp-red: #ff54d9;
  --bp-secondary-gray: #e3dfdf;
  --bp-blue-gray: #e3e8f0;
  --bp-green: #00ffb2;
  --bp-gray-2:#d5d5d5;

  --bp-font-gray: #778087;

  --bp-line-gray: #d9d9d9;

  --bp-primary-glow: linear-gradient(45deg, #9025fc 0%, #1308fe 100%);
  /* --bp-secondary-glow: linear-gradient(45deg, #00e09d 0%, #bd00ff 100%); */
  --bp-secondary-glow: linear-gradient(45deg, #a6c9ff 0%, #bd00ff 100%);

  --bp-font: "Roboto", sans-serif;

  --bp-skyblue: #e4f7ff;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--bp-font);
}

html,
body {
  overflow-x: visible;
}

a {
  text-decoration: none;
}

/* slide panel */
.some-custom-overlay-class {
  z-index: 1000;
  overflow: hidden;
}
.slide-pane {
  border-radius: 0 0.5rem 0.5rem 0 !important;
}