@keyframes banner-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.contentWrap {
    margin: 0;
    animation: banner-slide-down 0.5s ease-in-out;
    width: 50%;
}

.contentWrap .option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.3rem 0;
}

.contentWrap p.title {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    font-weight: 900;
}

.contentWrap .author{
    margin-bottom: 0.4rem;
    color: var(--bp-font-gray);
    font-size: 0.7rem;
    font-weight: 500;
}

.contentWrap .option .views {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1rem;
}

.contentWrap .option .views p.viewstxt {
    color: var(--bp-primary);
    font-size: 0.7rem;
    font-weight: 400;
    margin-left: 0.3rem;
}

.contentWrap .option .likes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1rem;
}

.contentWrap .option .likes p.likestxt {
    color: var(--bp-secondary);
    font-size: 0.7rem;
    font-weight: 400;
    margin-left: 0.3rem;
}

.contentWrap p.option2 {    
    width: fit-content;
    padding: 0.2rem 0.4rem;
    font-size: 0.5rem;
    font-weight: 400;
    background: var(--bp-secondary-glow);
    color: var(--bp-white);
    border-radius: 1.5rem;
    margin-bottom: 0.6rem;
    height: 1rem;
}

.contentWrap p.viewmore{
    color: var(--bp-secondary);
    font-size: 0.8rem;
    font-weight: 600;
}

