section.bestSection {
  width: 100%;
  padding: 0 1.57rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}

.bestItemWrap {
  margin: 0 -0.5rem;
  display: flex;
  flex-direction: column;
}

/* .bestItemWrap:nth-child(2n) {
  flex-direction: row-reverse;
} */
