section.bestSection {
    width: 100%;
    padding: 0 1.57rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bestItemWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -0.5rem;
}

.bestItemWrap:nth-child(2n) {
    flex-direction: row-reverse;
}