.historyBoxs {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.historyBox {
  background: var(--bp-gray);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
}

.history {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history img {
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.history p {
  color: var(--bp-black);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.KeyWordTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--bp-gray);
  font-size: 0.8rem;
}

.KeyWordTitle p {
  color: var(--bp-black);
}