.searchbarbg {
  background-color: var(--bp-gray);
  width: 80%;
  border-radius: 4rem;
  display: flex;
  justify-content: space-evenly;
  height: 2rem;
  align-items: center;
}

.searchbarbg input.searchinput {
  width: 80%;
  background-color: var(--bp-secondary-gray);
  border: none;
}

.searchbarbg img {
  width: 10%;
}

.SearchBar {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
